<section id="main">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3 title-color">TitleOne</h1>
                        <p class="lead">Lorem Ipsum</p>
                        @Html.ActionLink("Sign Up Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-color slide-btn btn-lg" })
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3 title-color">Title2</h1>
                        <p class="lead">Lorem Ipsum</p>
                        @Html.ActionLink("Sign Up Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-color slide-btn btn-lg" })
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3 title-color">Title3</h1>
                        <p class="lead">Lorem Ipsum</p>
                        @Html.ActionLink("Sign Up Now", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-color slide-btn btn-lg" })
                    </div>
                </div>
            </div>
            <a href="#carousel" data-slide="prev" class="carousel-control-prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#carousel" data-slide="next" class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>

<section class="services py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                <span class="service-icon">
                    <i class="fas fa-globe fa-2x"></i>
                </span>
                <h5 class="font-weight-bold text-uppercase">
                    Wordlwide shipping
                </h5>
                <p class="text-capitalize">We have wordwide shippig.</p>
            </div>
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                <span class="service-icon">
                    <i class="fas fa-stamp fa-2x"></i>
                </span>
                <h5 class="font-weight-bold text-uppercase">
                    Wordlwide shipping
                </h5>
                <p class="text-capitalize">We have wordwide shippig.</p>
            </div>
            <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                <span class="service-icon">
                    <i class="fas fa-euro-sign fa-2x"></i>
                </span>
                <h5 class="font-weight-bold text-uppercase">
                    30 Days money back
                </h5>
                <p class="text-capitalize">If you´re not satisfied with the product, you we acept returns.</p>
            </div>
        </div>
    </div>
</section>