@model Shop.Core.ViewModels.CartSummaryViewModel


<li class="nav-item">
    @Html.ActionLink(@Model.CartCount + " items " + (string.Format("{0:c}", Model.CartTotal)),"Index", "Cart", htmlAttributes: new { @class = "nav-link" })
</li>

